<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="container">
    <form (ngSubmit)="onSubmit()">
      <div class="input-group">
        <textarea
          #textarea
          class="pesquisa"
          placeholder="Coloque seu código"
          [(ngModel)]="inputText"
          name="search"
          (input)="ajustaAltura()"
        ></textarea>
        <div class="caracteres">
          Caracteres: {{ inputText.length }}
        </div>
        <div class="input-group-append btn">
          <button class="btn btn-primary" type="submit">Enviar</button>
        </div>
      </div>
    </form>
  </div>
  <h5>Faz apenas sugestões de códigos e melhorias se necessário</h5>
</body>

</html>
