.container {
  position: fixed;
  bottom: 60px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
}

.pesquisa {
  position: fixed;
  width: 60%;
  font-size: 15px;
  border-radius: 10px;
  padding: 10px;
  resize: none;
  min-height: 2rem;
  max-height: 20rem;
  overflow-y: auto;
  left: 49%;
  transform: translateX(-50%);
  bottom: 8rem;
  transition: box-shadow 0.3s ease-in-out;
}

.resposta {
  width: 70%;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid #d21c1c;
  border-radius: 30px;
  color: var(--text-color);
  text-align: justify;
  margin-bottom: 16rem;
  font-size: large;
  position: relative;
}

.pesquisa:focus {
  border-color: #1a73e8;
  box-shadow: 0 4px 6px rgba(26, 115, 232, 0.3);
}

.btn {
  margin-top: 10px;
  display: inline-block;
}

.btn-primary {
  background-color: transparent;
  border: 1px solid var(--button-border-color);
  color: var(--button-text-color);
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.5s, border-color 0.5s;
  margin-left: -3rem;
  position: relative;
  bottom: 1rem;
}

.btn-primary:hover {
  background-color: #0074f197;
}

.btn-toggle-theme {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

h5 {
  position: fixed;
  bottom: 2%;
  left: 49%;
  transform: translateX(-50%);
  width: 80%;
  text-align: center;
  color: var(--text-color);
}


@media (max-width: 768px) {
  .pesquisa {
    width: 90%;
    font-size: 14px;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .resposta {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10rem;
  }

  .btn-primary {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin-left: 0;
  }

  .btn-toggle-theme {
    top: 5px;
    right: 5px;
    padding: 8px;
  }

  h5 {
    width: 90%;
    font-size: 12px;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
  }

  .container {
    font-size: 11px;
  }
}

@media (max-width: 480px) {
  .pesquisa {
    width: 85%;
    font-size: 15px;
    bottom: 10rem;
  }

  .resposta {
    width: 79%;
    margin-bottom: 8rem;
    margin-left: 11px;
    top: -6rem;
    font-size: small;
  }

  .btn-primary {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    left: -1rem;
    top: -3rem;
  }

  .btn-toggle-theme {
    top: 0;
    right: 0;
    padding: 10px;
  }

  h5 {
    width: 100%;
    font-size: 13px;
    bottom: 4%;
    left: 49%;
    transform: translateX(-50%);
  }

  .container {
    font-size: 10px;
  }
}
