<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chatbot</title>
</head>

<body [ngClass]="{ 'dark-mode': isDarkMode }">
  <div class="container">
    <button *ngIf="showScrollButton" class="scroll-down" (click)="scrollToBottom()">
      <i class="fas fa-arrow-down"></i>
    </button>

    <label class="switch">
      <input type="checkbox" [checked]="isDarkMode" (change)="corAlterado()">
      <span class="slider round"></span>
    </label>

    <div class="chat-container" #chatContainer>
      <div *ngFor="let item of mensagens; let i = index" class="mensagens-enviadas">
        <div class="mensagem">
          <div class="img-usuario" alt="Logo usuario"></div>
          <div class="mensagem-texto" [ngClass]="{ isCodigo }">
            {{ item.mensagem }}
          </div>
          <button (click)="removeMensagem(i)" class="btn-remove">X</button>
        </div>

        <div *ngIf="item.resposta" class="resposta">
          <div class="img-resposta" alt="Logo bot"></div>
          <div class="mensagem-texto" [ngClass]="{ isCodigo }">
            {{ item.resposta }}
          </div>
          <button *ngIf="contemCodigo(item.resposta)" [class.btn-desabilitado]="!contemCodigo(item.resposta)"
          (click)="copiaCodigo(item.resposta, i)" class="btn-copy">
            {{ botaoCopiar[i] }}
          </button>
        </div>
      </div>
    </div>

    <span *ngIf="isLoading" class="loading-spinner"></span>

    <form (ngSubmit)="enviaMensagem(inputText, $event)">
      <textarea
        #textarea
        class="pesquisa"
        placeholder="Coloque seu código"
        [(ngModel)]="inputText"
        name="search"
        (input)="resetTextarea()"
        (keydown.enter)="enviaMensagem(inputText, $event)"
      ></textarea>
      <div class="botaoCor">
        <button class="btn-primary" type="submit" [disabled]="!inputText || inputText.trim() === ''">
          <i class="fas fa-arrow-up"></i>
        </button>
      </div>
    </form>
  </div>

  <h5>Faz apenas sugestões de códigos e melhorias se necessário!</h5>
</body>

</html>
