.copy {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  margin: auto;
}

.img-thumbnail {
  max-width: 200px;
  min-width: 200px;
}

.img {
  margin: auto;
  position: fixed;
  left: 83%;
  height: 30%;
}
