:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --placeholder-color: #121212b5;
  --pesquisa-border-color: #74717163;
  --pesquisa-background-color: #ffffff6b;
  --button-text-color: #444444;
  --button-border-color: #444444;
  --button-active-bg-color: #004085;
  --button-active-border-color: #003766;
  --border-left-color: #00b3ff;
  --border: 4px solid #52525213;
  --message-background-color: aliceblue;
  --botao-color: black;
  --logo-tela-background-image: url("/assets/images/textura.png");
  --logo-background-size: cover;
  --scroll-color: black;
}

.dark-mode {
  --background-color: #121212;
  --text-color: #e0e0e0;
  --placeholder-color: white;
  --pesquisa-border-color: #bbbbbb;
  --pesquisa-background-color: #00000017;
  --button-text-color: #e0e0e0;
  --button-border-color: #bbbbbb;
  --button-active-bg-color: #003766;
  --button-active-border-color: #00274d;
  --border-left-color: white;
  --border: 4px solid #525252c0;
  --message-background-color: #3b3b3b;
  --botao-color: white;
  --scroll-color: white;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  background-image: var(--logo-tela-background-image);
  background-size: var(--logo-background-size);
}

body.dark-mode {
  background-color: var(--background-color);
  color: var(--text-color);
  background-image: var(--logo-tela-background-image);
  background-size: var(--logo-background-size);
}

body.dark-mode .pesquisa {
  border-color: var(--pesquisa-border-color);
  background-color: var(--pesquisa-background-color);
  color: var(--text-color);
}

body.dark-mode p {
  color: var(--text-color);
}

body.dark-mode .pesquisa::placeholder {
  color: var(--placeholder-color);
}

.pesquisa::placeholder {
  color: var(--pesquisa-placeholder-color);
}

footer.copy {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: var(--text-color);
}

.resposta,
.mensagens-enviadas .mensagem {
  background-color: var(--message-background-color);
}

.btn-remove {
 color: var(--botao-color);
}

body.dark-mode .btn-primary:hover {
  background-color: var(--pesquisa-background-color);
}
